@font-face {
  font-family: norse-bold;
  src: url("asset/Norse-Bold.otf");
}

body {
  --default-font: sans-serif, 'Courier New', Courier, monospace;
  font-family: var(--default-font);
  background-color: #E5E7EB;
  margin: 0;
}

.whole-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* gap: 18px; */
}

.whole-page > .left-page {
  background-image: url("asset/cheng-feng-BP-Q-Z0Ua9Y-unsplash.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  /* height: 100%;
  width: 40%; */
  flex: 1;
  color: #ffffff;
  position: relative;
}

.whole-page > .right-page {
  flex: 1.5;
  margin: 60px 0;
}

.right-page > *:not(form), form > div:last-child {
  /* i used this instead of 18px gap, it selects all children and not form */
  margin-left: 2%;
}

.right-page > div:last-child {
  margin-top: 3%;
}

.right-page > div:last-child > a {
  text-decoration: none;
}

.right-page > p {
  font-size: calc(100vw / 70);
  font-weight: bold;
}

.second-paragraph {
  margin-bottom: 6%;
}

form > div:last-child {
  margin-top: 3%;
}

.header-with-input-section {
  background-color: #ffffff;
  box-shadow: 6px 8px 4px rgb(0 0 0 / 6%);
  padding: 2%;
  height: calc(100vh / 3.8);
}

.header-with-input-section > h2 {
  margin-top: 0;
}

.icon-section {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 10%;
  width: 100%;
  height: 25%;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.odin-lined-icon {
  width: 20%;
  height: auto;
}

.odin-text {
  font-family: norse-bold, var(--default-font);
  font-size: calc(100vw / 10);
  letter-spacing: -8px;
}

.photo-source {
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: calc(100vw / 85);
  opacity: 0.9;
}

.input-section {
  display: flex;
  gap: 8%;
  justify-content: start;
}

.input-section-right, .input-section-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/* button and and label with inputs: */
.submit-button {
  width: 20%;
  height: calc(100vw / 35);
  background-color: #455c5a;
  color: #ffffff;
  font-size: calc(100vw / 100);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

label {
  font-size: small;
}

input {
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  width: 18em;
  height: 2em;
}

input:invalid {
  border-color: #ff0000;
}

input:focus {
  border-color: #0064f9;
  outline: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}